<h1> New Review </h1>

<%= form_for :article, url:articles_path do |f| %>

<p>
  <%= f.label :title, "Name" %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text, "Review" %><br>
  <%= f.text_area :text %>
</p>

<p>
  <%= f.submit "New Review" %>

</p>
<% end %>
<%= link_to 'Back', articles_path
%>
